.layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows:10% 80% 10%;
    grid-template-columns: repeat(7,1fr)
   
}

.layout>header,.layout>footer,.layout>main{
    grid-column: span 7;
  
}

.layout>header{
    background-color: rgb(105, 165, 184);
}

.mainLayout{
    
}