.singleCouponComp {
	text-align: center;
	font-size: 1rem;
    margin-top: 2%;
	width: 100%;
	height:20%;
    box-sizing: border-box;
    display: grid; /*2d*/
    grid-template-columns: repeat(14,1fr);
    color: rgb(63, 55, 55);
	background-color: rgb(255, 255, 255);
	align-content: center;
	align-items: center
}

.listButton{
	color: white;
	width: 70%;
    text-align: center;
	border: 0ch;
	padding: 10px 10px;
	border-radius: 5px;
	background-color:rgb(105, 165, 184);
}

.deleteButton{
	background-color: crimson;
}

.popoverUpdate{
	border-radius: 5px;
}

.columDescription{
    grid-column-start: 3;
    grid-column-end: 8;
    text-align: left;
    font-size: 0.9rem;
	margin-left: 2%;
	margin-right: 2%;
}

.couponColum{
    font-size: 0.9rem; 
	text-align: left;
	margin-left: 5%;
}

.couponColumPrice{
	font-size: 1rem; 
	text-align: center;
	margin-left: 5%;
	color: rgb(10, 44, 95);
}

.popoverImg{
	position: absolute;
	
	
}

#img1{
	width: 128px;
	height:90px;	
}
